@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: blueviolet;
  font-family: cursive, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
  position: absolute;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  letter-spacing: 2px;
  user-select: none;
}

.containor {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.leftside {
  width: 60%;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.scorelist {
  width: 90%;
  height: 270px;
  font-size: 20px;
  margin-top: 40px;
  border: 5px solid #000;
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
}

.rightside {
  width: 35%;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"] {
  margin: 0.5rem;
  padding: 0.8rem 5rem;
  background-color: black;
  border: 0;
  border-bottom: 5px solid gray;
  color: white;
  font-size: 1rem;
  outline: none;
}

button {
  background-color: #4caf50;
  border-radius: 3px;
  border: darkblue;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  gap: 2px;
}

button:hover {
  background-color: red;
}

ul li:nth-child(odd) {
  background-color: burlywood;
}
